body {
  margin: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.container {
  position: relative;
  width: 90%;
  height: 400px;
  text-align: center;
}

/* Temel rectangle tasarımı */
.rectangle {
  position: absolute;
  background: red;
  opacity: 0.27;
  left: 50%;
  transform: translateX(-50%);
}

/* Her biri farklı width/height */
.rectangle1 {
  width: 600px;
  height: 260px;
  top: 80px;
}
.rectangle2 {
  width: 650px;
  height: 280px;
  top: 70px;
}
.rectangle3 {
  width: 700px;
  height: 300px;
  top: 60px;
}
.rectangle4 {
  width: 750px;
  height: 320px;
  top: 50px;
}
.rectangle5 {
  width: 800px;
  height: 340px;
  top: 50px;
}
.rectangle6 {
  width: 850px;
  height: 360px;
  top: 50px;
}
.rectangle7 {
  width: 900px;
  height: 380px;
  top: 50px;
}
.rectangle8 {
  width: 950px;
  height: 400px;
  top: 50px;
}


/* Metin */
h1 {
  position: relative;
  margin-top: 120px;
  font-size: 48px;
  color: white;
  font-weight: bold;
}

p {
  position: relative;
  margin-top: -10px;
  font-size: 20px;
  color: white;
}
